<h2 id="currently">current projects</h2>

<p>I am in the middle of a couple of long-term documentary photography projects. If you have a connection to these stories or know someone who wants to collaborate as a subject or participant, please reach out to me by <a href="{{ email_src }}">email</a> or <a href="{{ phone_src }}">text</a>. The projects are:</p>

<ul>
  <li>Colorado Springs arts and creative communities</li>
  <li>story of Barr Trail</li>
</ul>

<p>These projects consist of both long-term personal work as well as commissioned work. Check out the <a href="/notes/">notes section</a> of this site to see short-form updates on these projects. <a href="{{ email_src }}">Reach out</a> to me to help me realize these projects.</p>