<h2 id="currently">current projects</h2>

<p>I am in the middle of a couple of long-term documentary photography projects. The projects are:</p>

<ul>
  <li><a href="/2023-art/">Art Emerging</a>: Colorado Springs arts and creative communities</li>
  <li>the story of Barr Trail</li>
</ul>

<p>These projects consist of both long-term personal work as well as commissioned work. Check out the <a href="/notes/">notes section</a> of this site to see short-form updates on these projects. If you have a connection to these stories or have a contribution to make, please reach out to me by <a href="{{ email_src }}">email</a> or <a href="{{ phone_src }}">text</a>. I can’t do it without connections to people and stories I haven’t yet encountered, so I would love to hear your ideas for people and places to research.</p>