<nav class="nav--page">
  <ul class="nav-list">
    <li class="nav-list-item"><a href="/">back to portfolio</a></li>
    {% if page.url !== '/stories/' %}
    {% if page.url !== '/about/' %}
    <li class="nav-list-item"><a href="/stories/">back to stories</a>
    {% endif %}
    {% endif %}
  </ul>
</nav>