<nav class="nav--bottom">
  <ul class="nav-list">
    {% if page.url == '/' %}<li class="nav-list-item nav-list-item--inactive">portfolio</li>
    {% else %}
    <li class="nav-list-item"><a href="/">portfolio</a></li>
    {% endif %}
    {% if page.url == '/projects/' %}<li class="nav-list-item nav-list-item--inactive">projects</li>
    {% else %}
    <li class="nav-list-item"><a href="/projects/">projects</a></li>
    {% endif %}
    {% if page.url == '/notes/' %}<li class="nav-list-item nav-list-item--inactive">notes</li>
    {% else %}
    <li class="nav-list-item"><a href="/notes/">notes</a></li>
    {% endif %}
    {% if page.url == '/about/' %}<li class="nav-list-item nav-list-item--inactive">about</li>
    {% else %}
    <li class="nav-list-item"><a href="/about/">about</a></li>
    {% endif %}
  </ul>
</nav>