<h2 id="projects">current projects</h2>

<p>I am working on a couple of active long-term documentary photography projects. If you have a connection to these stories or know someone who wants to collaborate as a subject or participant, please reach out to me by <a href="{{ email_src }}">email</a>, <a href="{{ phone_src }}">text, or call</a>. The projects are:</p>

<ul>
  <li>Colorado Springs arts scene: community and process</li>
  <li>story of Barr Trail</li>
</ul>

<p>Some samples appear on this site, but I have been working on these projects for a while, and can share works in progress if you want to see where I am heading with it.</p>