body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-size: calc(.75vw + .6rem);
  margin: 0;
}

main {
  flex-grow: 2;
  padding: 2em;
}

nav {
  padding: 2em 2em 0;
}

header {
  margin: 1em auto;
}

footer {
  flex-grow: 2;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0;
}

p {
  margin: 1em 0 0;
}

hr {
  margin: 2em 0;
}

hr::after {
  content: '– – –'
}

.home {
  text-decoration: none;
}

.title {
  font-size: 1.5em;
  line-height: 1;
}

.subtitle {
  font-size: .96em;
  line-height: 1;
  margin-top: .5em;
}

.navlist {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navlist-item {
  padding-left: 1em;
}

.page--portfolio,
.introduction--about {
  padding-top: 2em;
}

.grid {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
}

.grid-item {
  margin: .5em 0;
}

.grid-image {
  max-width: none;
  width: 100%;
}

.contact {
  line-height: 1.5;
  list-style: none;
  margin-top: .5em;
}

.contact-item {
  display: inline;
}

.contact-item::after {
  content: ' —';
  margin: 0 .25em;
}

.contact-item:last-child::after {
  content: '';
}

.location {
  margin-top: 2em;
}

@media screen and (min-width: 28em) {
    .title {
      font-size: 2em;
    }
    
    .subtitle {
      font-size: 1.28em;
    }
    
    .grid {
      flex-flow: row wrap;
      list-style: none;
      margin-left: -.5em;
      width: calc(100% + 1em);
    }
    
    .grid-item {
      flex: 0 0 calc(50% - 1em);
      max-width: 50%;
      margin: .5em;
    }
}

@media screen and (min-width: 35em) {
  main {
    flex-grow: 2;
    padding: 3em;
  }
  
  footer {
    flex-grow: 2;
    padding: 3em;
  }
  
  .title {
    font-size: 2.5em;
    line-height: 1;
  }
  
  .subtitle {
    font-size: 1.6em;
    line-height: 1;
  }
  
  .page--portfolio,
  .introduction--about {
    padding-top: 3em;
  }
}

@media screen and (min-width: 52em) {
  main {
    margin: 0 0 auto 0;
  }
  
  .introduction {
    margin-left: calc(50% + .5em);
  }
  
  .introduction--about {
    margin-right: 25%;
  }
   
  .page--about {
    margin: 2em 0 0 25%;
  }
  
  .location {
    text-align: right;
  }
}