body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-size: calc(.8vw + .8rem);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0;
}

p {
  margin: 1em 0 0;
}

ul {
  margin: 1em 0 0;
  line-height: 1.5;
  list-style-type: square;
}

figcaption {
  margin-top: .5em;
}

hr {
  margin: 2em 0;
}

hr::after {
  content: '– – –'
}

header {
  padding: 1em 1em 1em 2em;
}

footer {
  flex-grow: 2;
  padding: 2em 1em 3em 2em;
}

.boundary {
  margin: 0 0 0 auto;
}

.page {
  padding: 1em 1em 2em 2em;
}

.home {
  text-decoration: none;
}

.title,
.subtitle {
  line-height: 1;
}

.title {
  letter-spacing: .045em;
}

.subtitle {
  letter-spacing: .025em;
  margin-top: .125em;
}

.nav-list,
.nav-list--home {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  list-style: none;
}

.nav--bottom {
  margin: 3em 0 0;
}

.nav-list--home {
  margin: 6em 0 0;
}

.nav-list-item {
  padding-left: .5em;
}

.nav-list-item:after {
  content: '/';
  padding-left: .5em;
}

.nav-list-item:last-of-type:after {
  content: none;
}

.introduction {
  margin: 0;
  padding: 2em 1em 2em 2em;
}

.entry {
  margin: -2em -1em 0 -1em;
  padding: 2em 2em 2em 1em;
}

.entry :first-child {
  margin: 0;
}

.grid,
.grid--mini,
.grid--stories,
.grid--photo,
.grid--banner {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  list-style: none;
}

.grid--photo {
  gap: .5em;
  margin: 1em 0 0;
}

.grid--mini {
  gap: .5em;
  margin: .5em -1em .5em 0;
}

.grid-item {
  flex: 1 0 100%;
}

.grid-item--mini {
  flex: 1 0 calc(33% - .5em);
}

.grid-item--photo {
  flex: 1 0 100%;
}

.grid-image {
  width: 100%;
}

.entry--about,
.content--about {
  padding: 1em 1em 2em 2em;
  margin: 0 -1em .5em -2em;
}

.photo--profile {
  margin: .5em -1em .5em 0;
  max-width: none;
  width: calc(100% + 1em);
}

.contact {
  margin-top: -1em;
}

.contact-list {
  list-style: none;
  margin-top: 1em;
}

.contact-item {
  display: block;
  margin-top: 1em;
}

.location {
  margin-top: 2em;
}

@media screen and (min-width: 35em) {
  header {
    padding: 2em 1em 2em 2em;
  }
  
  footer {
    padding: 2em 1em 2em 2em;
  }
  
  .page {
    padding: 2em 1em 3em 2em;
  }
  
  .entry {
    margin: -9em 0 0;
    padding: 3em;
    min-height: 12em;
  }
  
  .entry--about {
    margin: 0 0 0 -2em;
    padding: 2em 2em 8em;
  }
    
  .photo--profile {
    margin: -6em -1em .5em calc(33.33333333% + .5em);
    padding: 0;
    width: calc(66.66666667% + .5em);
  }
    
  .grid-item {
    flex: 1 1 calc(50% - 1em);
  }
  
  .grid-item--photo {
    flex: 1 1 100%;
    margin: 0 25%;
    width: 50%;
  }
  
  .grid-item--photo--full {
    margin: 0;
    width: 100%;
  }
  
  .grid-item--photo--center {
    flex: 0 0 75%;
    margin: 0 0 0 12.5%;
    width: 75%;
  }
  
  .grid-item--photo--right {
    flex: 0 0 75%;
    margin: 0 0 0 25%;
    width: 75%;
  }
  
  .grid-item--photo--left {
    flex: 0 0 75%;
    margin: 0 25% 0 0;
    width: 75%;
  }
  
  .grid-item--photo--half {
    flex: 0 0 calc(50% - .25em);
    margin: 0;
    width: calc(50% - .25em);
  }
  
  .grid-item--photo--third {
    flex: 1 0 calc(33% - .25em);
    margin: 0;
    width: calc(33% - .25em);
  }
}

@media screen and (min-width: 52em) {
  .boundary {
    max-width: 40em;
  }
  
  .entry--about {
    margin: 0 1em 0 -2em;
    padding: 2em 4em 10em 2em;
  }
  
  .content--about {
    margin: .5em -1em 0 0;
    padding: 2em 2em 3em calc(16.66666667% + .1em);
  }
  
  .photo--profile {
    margin: -8em 0 .5em calc(33.33333333% + .2em);
    width: calc(66.66666667% - .2em);
  }
  
  .grid--mini {
    margin: .5em 0 0 0;
    flex-flow: row nowrap;
  }
  
  .grid-item--mini {
    flex: 1 1 1em;
  }
}

@media screen and (min-width: 62em) {
  header {
    padding: 2em 8vw 2em 16vw;
  }
  
  footer {
    padding: 2em 8vw 2em 16vw;
  }
  
  .page {
    padding: 2em 8vw 3em 16vw;
  }
  
  .introduction {
    padding-right: 8vw;
  }
  
  .entry {
    margin-top: -15em;
    min-height: 16em;
  }
  
  .entry--about {
    margin-right: 8vw;
  }
  
  .content--about {
    margin: .5em 0 0 0;
  }
}