*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text

*.woff2 binary
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.woff2 !text !filter !merge !diff
