---
layout: base.njk
---

<div class="page page--about">
  <div class="boundary">
    <main>
      <section class="entry--about">
      {% if entry %}{% markdown entry %}{% endif %}
      </section>
      {% set src = portrait.src %}
      {% set alt = portrait.alt %}
      {% set style = "image--profile" %}
      {% image_flex src, alt, style %}
      <ul class="flex--mini">
       {% for image in about.images %}
        {% set src = image.src %}
        {% set alt = image.alt %}
        <li class="flex-item--mini">{% image_flex src, alt %}</li>
      {% endfor %}
      </ul>
      <section class="content--about">
      {{ content | safe }}
      </section>
    </main>
  </div>
</div>