---
layout: base.njk
---

<section class="introduction--about">
{% markdown introduction %}
{% markdown callout  %}
</section>
<section class="page--about">
{{ content | safe }}
<hr>
<p><a href="/">back to portfolio</a></p>
</section>