---
title: Oliver Pattison
subtitle: documentary photography
description: A professional documentary photographer for families and small businesses in Colorado Springs.
url: 'https://oliverpattison.com'
email: 'hello@oliverpattison.com'
email_src: 'mailto:hello@oliverpattison.com'
phone: 719-355-6483
phone_src: 'tel:+17193556483'
location: 'Based in Colorado Springs, Colorado.'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		
		<meta property="og:url" content="{{ url }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:type" content="profile">
		{# todo <meta property="og:image" content="{% image_og portrait.src %}">
		<meta property="og:image:alt" content="{{ portrait.alt }}"> 
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		#}
		<meta name="twitter:card" content="summary_large_image">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/icon-32.png">
		<link rel="icon" type="image/svg+xml" href="icons/icon.svg" >
		<link rel="apple-touch-icon" sizes="192x192" href="/icons/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.webmanifest">
		
		<link rel="preload" as="font" type="font/woff2" href="/fonts/IBMPlexMono-Regular-Latin1.woff2">
		<link rel="preconnect" href="https://oliverpattison.imgix.net">
		<link rel="dns-prefetch" href="https://oliverpattison.imgix.net">
		
		{% set css %}
		{% include 'baseline.css' %}
		{% include 'typography.css' %}
		{% include 'structure.css' %}
		{% include 'theme.css' %}
		{% endset %}
		
		<style>
			{{ css | cssmin | safe }}
		</style>
	</head>
	<body>
		<main>
			<header class="heading">
				<a class="home" href="/"><h1 class="title">{{ title }}</h1></a>
				<h2 class="subtitle">{{ subtitle }}</h2>
			</header>
			{{ content | safe }}
		</main>
		<footer>
			<div class="contact">
				<h2>Contact Me</h2>
				<ul class="contact">
					<li class="contact-item"><a href="{{ email_src }}">{{ email }}</a></li>
					<li class="contact-item"><a href="{{ phone_src }}">{{ phone }}</a></li>
				</ul>
			</div>
			<p>{{ location }}</p>
			<p>Print portfolio available on request.</p>
		</footer>
	</body>
</html>