---
layout: base.njk
---

<main>
  <section class="page page--home">
    <div class="boundary">
      <ul class="grid">
      {% for item in portfolio.images %}
        {% set title = item.title %}
        {% if item.index %}
          {% set index = item.index %}
        {% else %}
          {% set index = 0 %}
        {% endif %}
        {% for post in collections.portfolio %}
          {% if post.fileSlug == title %}
            {% set src = post.data.images[index].src %}        
            {% set alt = post.data.images[index].alt %}
            <li class="grid-item"><a href="{{ post.url }}">{% grid_image src, alt %}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </section>
  <section class="introduction">
    <div class="boundary">
    {{ content | safe }}
    </div>
  </section>
</main>
