---
layout: base.njk
---

<main>
  <section class="page page--index">
    <div class="boundary--index">
      <ul class="flex">
      {% for item in portfolio.posts %}
        {% set title = item.title %}
        {% set images = item.images %}
        
        {% for post in collections.all %}
          {% if post.fileSlug == title %}  
            {% for image in images %}
              {% set src = image.src %}
              {% set alt = image.alt %}
              {% set style = image.style %}
              {% set align = image.align %}
            
              <li class="flex-item{% if style %} flex-item--{{ style }}{% endif %}"{% if align %} style="align-self: {{ align }}"{% endif %}><a href="{{ post.url }}">{% flex_image src, alt %}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </section>
  <section class="introduction">
    <div class="boundary--index">
    {{ content | safe }}
    </div>
  </section>
</main>
