---
layout: base.njk
permalink: /{{ page.fileSlug }}/
---

{% if banner %}
  {%- from 'macros/generate-banner.njk' import generate with context -%}
  {{ generate(banner) }}
{% endif %}
<div class="page">
  <div class="boundary">
    <main>
    {% if entry %}
      <section class="entry">
        <h2>{{ title }}</h2>
        {% markdown entry %}
      </section>
    {% endif %}
      {{ content | safe }}
    </main>
    {% include 'nav--page.njk' %}
  </div>
</div>