---
layout: base.njk
permalink: /stories/{{ page.fileSlug }}/
---

{% if banner %}
  <section class="flex--banner">
    {% set src = banner.src %}
    {% set alt = banner.alt %}
    <figure class="flex-item--photo flex-item--photo--full">
    {% photo src, alt %}
    </figure>
  </section>
{% endif %}
<div class="page page--photo">
  <div class="boundary">
    <main>
    {% if entry %}
      <section class="entry">{% markdown entry %}</section>
    {% endif %}
      <section class="flex--photo">
      {% for image in images %}
        {% set src = image.src %}
        {% set alt = image.alt %}
        {% set style = image.style %}
        
        <figure class="flex-item{% if style %} flex-item--{{ style }}{% endif %}">
        {% photo src, alt %}
        </figure>
      {% endfor %}
      </section>
      
      <section class="content--photo">
      {{ content | safe }}
      </section>
    </main>
    {% include 'nav--page.njk' %}
  </div>
</div>