---
layout: base.njk
---

<main class="page--photo">
{% if introduction %}{% markdown introduction %}{% endif %}

{% for image in images %}
  {% set src = image.src %}
  {% set alt = image.alt %}
  
  {% photo_full src, alt %}
{% endfor %}
{{ content | safe }}
{% include 'nav-home.njk' %}
</main>