---
layout: base.njk
---

<div class="page page--index">
  <div class="boundary--index">
    <main>
      <ul class="flex--stories">
      {% for post in collections.story | reverse %}
        {% set src = post.data.story.src %}
        {% set alt = post.data.description %}
        <li class="flex-item flex-item--third">
          <a href="{{ post.url }}">
            <figure>
              {% flex_image src, alt %}
              <figcaption><h3>{{ post.data.title }}</h3></figcaption>
            </figure>
          </a>
        </li>
      {% endfor %}
      </ul>
    {{ content | safe }}
    </main>
    {% include 'nav--page.njk' %}
  </div>
</div>