---
layout: base.njk
---

<section class="page--stories">
{% for post in collections.story %}
  <a href="{{ post.url }}">{{ post.data.title }}</a>
{% endfor %}
{{ content | safe }}
{% include 'nav-home.njk' %}
</section>