body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-size: calc(.8vw + .8rem);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 1em 0 0;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  margin: 1em 0 0;
}

ul {
  margin: 1em 0 0;
  line-height: 1.5;
  list-style-type: square;
}

figcaption {
  margin-top: .5em;
}

figcaption * {
  margin-top: 0;
}

hr {
  margin: 2em 0;
}

hr::after {
  content: '– – –'
}

header {
  padding: 1em 1em 1em 2em;
}

footer {
  flex-grow: 2;
  padding: 2em 1em 3em 2em;
}

.boundary,
.boundary--home {
  margin: 0 0 0 auto;
}

.page {
  padding: 1em 1em 2em 2em;
}

.home {
  text-decoration: none;
}

.title,
.subtitle {
  line-height: 1;
}

.title {
  letter-spacing: .045em;
}

.subtitle {
  letter-spacing: .025em;
  margin-top: .125em;
}

.nav--bottom {
  margin: 3em 0 0;
}

.nav--page {
  margin: 3em 0 0;
}

.nav-list {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  list-style: none;
}

.nav-list-item {
  padding-left: .5em;
}

.nav-list-item:after {
  content: '/';
  padding-left: .5em;
}

.nav-list-item:last-of-type:after {
  content: none;
}

.introduction {
  margin: 0;
  padding: 1em 1em 2em 2em;
}

.entry {
  margin: -2em -1em 0 -1em;
  padding: 2em 2em 2em 1em;
}

.entry--about,
.content--about {
  padding: 1em 1em 2em 2em;
  margin: 0 -1em .5em -2em;
}

.content--post {
  margin-top: 2em;
}

.image--profile {
  margin: .5em -1em .5em 0;
  max-width: none;
  width: calc(100% + 1em);
}

.flex,
.flex--mini,
.flex--projects,
.flex--notes,
.flex--photo,
.flex--banner {
  display: flex;
  flex-flow: column;
  gap: .5em;
  list-style: none;
}

.flex,
.flex--projects,
.flex--notes {
  align-items: flex-end;
}

.flex--mini {
  flex-flow: row wrap;
  margin: .5em -1em .5em 0;
}

.flex--projects,
.flex--notes {
  gap: 1em;
}

.flex--photo {
  margin: 1em 0 0;
}

.flex-item {
  flex: 1 0 100%;
  width: 100%;
}

.flex-item--mini {
  flex: 1 1 calc(33% - .5em);
}

.image {
  width: 100%;
}

.vignette-date {
  font-size: .8em;
  font-weight: 300;
}

.vignette-caption,
.vignette-caption--note {
  margin: 0;
  padding: 1em;
}

.vignette-description {
  font-weight: 300;
  margin-top: 1.5em;
  line-height: 1.3;
}

.contact {
  margin-top: -1em;
}

.contact-list {
  list-style: none;
  margin-top: 1em;
}

.contact-item {
  display: block;
  margin-top: 1em;
}

.location {
  margin-top: 2em;
}

@media screen and (min-width: 35em) {
  header {
    padding: 2em 1em 2em 2em;
  }
  
  footer {
    padding: 2em 1em 2em 2em;
  }
  
  .page {
    padding: 2em 1em 3em 2em;
  }
  
  .entry {
    margin: -9em 0 0;
    padding: 2em 2em 3em;
    min-height: 12em;
  }
  
  .entry--about {
    margin: 0 0 0 -2em;
    padding: 2em 2em 10em;
  }
    
  .image--profile {
    margin: -8em -1em .5em calc(33.33333333% + .5em);
    padding: 0;
    width: calc(66.66666667% + .5em);
  }
  
  .flex,
  .flex--photo,
  .flex--banner {
    flex-flow: row wrap;
  }
  
  .flex--mini {
    flex-flow: row nowrap;
  }
  
  .flex-item {
    flex: 0 0 calc(50% - .25em);
    margin: 0 0 0 calc(25% + .125em);
  }
  
  .flex-item--full {
    flex: 1 0 100%;
    margin: 0;
    width: 100%;
  }
  
  .flex-item--center {
    flex: 0 0 calc(75% - .125em);
    margin: 0 0 0 calc(12.5% + .0625em);
  }
  
  .flex-item--right {
    flex: 0 0 calc(75% - .125em);
    margin: 0 0 0 calc(25% + .125em);
  }
  
  .flex-item--left {
    flex: 0 0 calc(75% - .125em);
    margin: 0 calc(25% + .125em) 0 0;
  }
  
  .flex-item--half {
    flex: 0 0 calc(50% - .25em - .01px);
    margin: 0;
  }
  
  .flex-item--third {
    flex: 0 0 calc(33.33333333% - .3333333333em);
    margin: 0;
  }
  
  .flex-item--quarter {
    flex: 0 0 calc(25% - .375em);
    margin: 0;
  }
  
  .flex-item--projects {
    flex: 0 0 calc(50% - .5em - .01px);
    margin: 0;
  }
}

@media screen and (min-width: 52em) {
  .boundary,
  .boundary--home {
    max-width: 40em;
  }
  
  .entry--about {
    margin: 0 1em 0 -2em;
    padding: 2em 4em 10em 2em;
  }
  
  .content--post {
    margin: .5em -1em 0 0;
    padding: 2em 2em 3em calc(16.66666667% + .1em);
  }
  
  .flex--projects {
    flex-flow: row wrap;
    gap: 1em;
  }
  
  .vignette--note {
    display: flex;
  }
  
  .vignette-image--note {
    flex: 0 0 33.33333333%;
    width: 33.33333333%;
  }
  
  .vignette-caption--note {
    margin-top: .5em;
    margin-left: 3em;
  }
  
  .image--profile {
    margin: -8em 0 .5em calc(33.33333333% + .2em);
    width: calc(66.66666667% - .2em);
  }
  
  .flex--mini {
    margin: .5em 0 0 0;
  }
}

@media screen and (min-width: 62em) {
  header {
    padding: 3em 8vw 2em 16vw;
  }
  
  footer {
    padding: 3em 8vw 3em 16vw;
  }
  
  .boundary--home {
    max-width: 60em;
  }
  
  .page {
    padding: 2em 8vw 3em 16vw;
  }
  
  .page--index {
    padding: 2em 8vw 3em 8vw;
  }
  
  .introduction {
    padding: 2em 32vw 3em 8vw;
  }
  
  .entry {
    margin-top: -15em;
    min-height: 16em;
  }
  
  .entry--about {
    margin-right: 8vw;
  }
  
  .content--about {
    margin: .5em 0 0 0;
  }
}